@use "styles/variables";
@use "styles/mixins";
@use "query" as *;

/* footer styles */
div.footer-control {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;

    a {
        display: block;
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 30px;
    }

    @include using_tablet {
        :root {
            font-size: 1rem;
        }

        a {
            display: block;
            font-size: 2rem;
            padding: 0.5rem;

            border-radius: 30px;
        }
    }

}

div.footer-control-feature {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0.2rem 0;

    button {
        display: block;
        font-size: 2rem;
        background-color: variables.$color-primary;
        color: variables.$color-light;
        border: none;
        padding: 0.5rem;
        border-radius: 30px;
    }
}

/* loaders */
/* borrowed from https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid variables.$color-light;
    border-top: 16px solid variables.$color-dark;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

.loader-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* buttons */
button.primary, a.primary {
    @include mixins.controlStyles();

    margin: 0.5rem 0;
}


button.secondary {
    background-color: variables.$color-secondary;
    color: variables.$color-light
}


/* inputs */
div.input-text {
    position: relative;
    width: 100%;

    h2 {
        margin: 0.5rem;
        padding: 0 0.5rem;
        position: absolute;
        top: -1.4rem;
        left: 0;
        background-color: variables.$color-light;
    }

    textarea, p {
        font-family: inherit;
        font-size: 0.8rem;
        border: thin solid variables.$color-dark;
        width: 100%;
        min-height: 9rem;
        max-height: 15rem;
        padding: 1.5rem 1rem 2rem;
        margin: 0;

        overflow-y: scroll;
        resize: none;
        outline: none;

        &.input-text__write-mode {
            &:active, &:focus {
                outline: none !important;
                @include mixins.borderShadow(variables.$color-primary);
                //border: thin solid variables.$color-primary;
                //box-shadow: 0 0 10px variables.$color-secondary;
            }
        }

    }

}


div.field-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: thin solid variables.$color-gray-light;

    h3 {
        margin: 1rem 0 0.5rem;
    }

    div.field-input-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 0;

        .react-datepicker-wrapper {
            text-align: right;
        }

        h4 {
            margin: 0;
            color: variables.$color-gray;
        }

        p {
            max-width: 50%;
            word-wrap: anywhere;
            white-space: break-spaces;
        }

        input, button.control-dropdown__toggle {
            p {
                max-width: 100%;
            }

            @include mixins.overFlowEllipsis();

            border: 2px solid variables.$color-gray-light;
            text-align: right;
            padding: 0.2rem 0.5rem;
        }
    }
}

/* text styles */
.text-heading {
    font-size: 4rem;
}

.text-title {
    font-size: 2rem;
}

.text-subtitle {
    font-size: 1.5rem;
}

.text-section {
    font-size: 1rem;
}

.text-paragraph {
    font-size: 0.8rem;
}


/* controls */

div.header-control {
    display: flex;
    flex-direction: column;
    max-width: 60%;

    h2 {
        margin: 0 0 0.5rem;
        font-size: 1rem;
        opacity: 70%;
        text-align: left;
        font-weight: lighter;
    }
}

div.page-rate-control {
    nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        a {
            font-size: 3rem;
        }
    }
}

.control-dropdown {
    position: relative;

    .control-dropdown-container {
        display: flex;
        flex-direction: column;
        background-color: variables.$color-light;
        align-content: flex-start;
        width: 100%;
        z-index: 100;

        a {
            @include mixins.overFlowEllipsis();
        }

        div {
            border: thin solid variables.$color-gray-light;
            padding-left: 0.5rem;

            a {
                display: block;
                padding: 0.75rem 0;
                text-align: left;
            }
        }
    }

    button {
        @include mixins.overFlowEllipsis();
        border: 2px solid variables.$color-gray-light;
        text-align: right;
    }

    &__toggle {
        display: flex;
        align-items: center;
        width: 100%;

        h3 {
            margin: 0;
            font-size: 1.2rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        span.icon-angle-down {
            font-size: 1.5rem !important;
            color: variables.$color-gray-light
        }
    }
}

/* ui indicators */

.icon-highlight__error {
    background-color: variables.$color-error !important;
}

.icon-highlight__success {
    background-color: variables.$color-success !important;
}

.icon-highlight__primary {
    color: variables.$color-primary !important;
}

.border-highlight__error {
    @include mixins.borderShadow(variables.$color-error);
}

.border-highlight__warning {
    @include mixins.borderShadow(variables.$color-warning);
}

.border-highlight__success {
    @include mixins.borderShadow(variables.$color-success);
}

.border-highlight__primary {
    @include mixins.borderShadow(variables.$color-primary);
}

a.link-disabled {
    color: variables.$color-gray !important;
}

/* containers */

div.container-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.info-about {
    padding-top: 2rem;

    h1 {
        text-align: left !important;
        font-size: 2rem;
    }

    ul {
        padding-left: 0.5rem;
        font-size: 0.8rem;

        p {
            margin: 0.5rem 0;
        }
    }

    a {
        text-decoration: underline;
    }

    strong {
        font-weight: bold;
        //font-size: 1.2rem;
    }
}


/* general page styles */

div.page-login, div.page-first-login {

    header {
        div {

            text-align: center;

            a {
                @include mixins.controlStyles();
            }
        }
    }

    h1 {
        text-align: center;
        border: none;
        margin-top: 3rem;
    }

    .info-about {
        h1 {
            margin-top: 0;
        }
    }

    div#firebaseui-auth-container {

        div {
            font-family: 'Rubik', sans-serif;

            h1 {
                font-size: 2rem;
                color: variables.$color-dark;
                margin-bottom: 1rem;
            }

            input {
                border-bottom: thin solid variables.$color-dark;
            }

            background-color: transparent;
        }
    }
}
