@use "sass:math";
@use "variables";
@use "defaults";
@use "font";
@use "mixins";
@use "classes";
@use "query" as *;

div.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    &::before {
        /* to add opacity on background only https://stackoverflow.com/a/10423121/15809514 */
        position: absolute;
        background-image: url("../public/img/mobile-login-background.png");
        background-position-y: 65%;
        background-position-x: 50%;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .3;
        content: "";
        z-index: -1;
    }

    header {
        padding: 1rem;
        border-bottom: thin solid variables.$color-gray-light;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a.icon-settings {
                margin: 0 0.25rem;
                font-size: 2.5rem;
                background-color: variables.$color-light;
                color: variables.$color-dark;
                text-decoration: none;
            }

        }
    }

    main {
        @include mixins.scrollbar();

        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        padding: 1rem;

        overflow-y: scroll;

        .field-input, .field-display {
            margin-bottom: 2rem;
        }

        .input-text {
            margin: 1.5rem 0;
        }


    }

    footer {
        position: relative;
        min-height: 5.5rem;
        padding: 1rem 0.75rem 0.75rem;

        nav {
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 30px;
            justify-content: space-between;
            background-color: variables.$color-white;

            max-width: 28rem;
            margin: 0 auto;


            box-shadow: 0 0.25rem 0.5rem 0 variables.$color-dark;
            transition: 0.3s;
            /* On mouse-over, add a deeper shadow */
            &:hover {
                box-shadow: 0 0.5rem 1rem 0 variables.$color-dark;
            }

        }
    }
}


@include using_tablet {
    :root {
        font-size: 1rem;
    }
}
