$color-white: white;
$color-light: #F0F0F0;
$color-dark: #3F4747;
$color-gray: #9A9A9A;
$color-primary: #0661C1;
$color-secondary: #218CFF;
$color-gray-light: lighten($color-gray, 20%);
$color-error: red;
$color-warning: yellow;
$color-success: green;


$tablet_size: 48rem;
$desktop_size: 64rem;
